$backgroundColor: rgb(46, 46, 46);
$globalLinkColor: white;
$globalFont: 'proxima-nova', sans-serif;
$headerColor: white;
$iconBackground: rgb(76, 76, 76);
$invertedBackgroundColor: #e5e5e5;
$invertedTextColor: rgb(46, 46, 46);